* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  color: #020202;
  line-height: 1.6;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}


.logo {
  color: #04110ab6;
  font-weight: bold;
  font-size: 1.25rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #c7740e;
  font-weight: 500;
}

.nav-links a:hover {
  color: #243b08;
  font-weight: 600;
}

.card-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:16px;

}

.card{
    background-color: #5a839b;
    color: antiquewhite;
    border-radius: 8px;
    border: 1px;
    border-color: rgb(48, 56, 200); 

}

.card p{
    margin: 16px;
    color: rgb(45, 198, 99);

}

p{
    color: blue;
}